:root {
    /* Colors */
    --text: #171717;
    --primary: #073137;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
}

button {
    font-family: inherit;
    font-size: inherit;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body {
    scroll-behavior: smooth;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    color: var(--text);
    font-weight: 400;
    position: relative;
    max-width: 1440px;
    margin: auto;
    position: relative;
    overflow-x: hidden;
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
    place-content: center;
    background-color: rgba(0, 0, 0, 1);
    z-index: 10;
    width: 100%;
    max-width: 1440px;

}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    width: 200px;
}

.main-menu {
    display: flex;

}

.main-menu li {
    padding: 12px 32px;
}

.main-menu li a, .footer-items ul li a {
    font-size: 0.875rem;
    font-weight: 300;
}

nav > a {
    padding: 12px 32px;
    background-color: white;
    border-radius: 4px;
    color: var(--text);
}

.menu-btn {
    display: none;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 100px;
    right: 0;
    padding: 20px;
    background-color: black;
    transition: all 200ms linear;
}

.mobile-menu .button {
    padding: 10px 20px;
}

.hidden {
    transform: translateX(1000%);
}


.wrapper {
    padding: 40px 120px;
}


.hero {
    background-image: url(./images/satellite.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 900px;
    padding-block: 120px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: flex-end;
    border-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) fill 1;
}

.hero > div:nth-child(1) {
    display: grid;
    gap: 10px;
}

.hero > div:nth-child(1) p {
    display: none;
}

.hero > div:nth-child(2) {
    display: grid;
    gap: 24px;
}

.hero > div:nth-child(2) p {
    text-align: right;
}

.hero > div:nth-child(2) a {
    display: none;
}

.hero span {
    width: fit-content;
}

.hero h1 {
    border-radius: 8px;
    font-weight: 500;
    font-size: 3rem;
    width: fit-content;
}

.intro {
    font-size: 1.5rem;
}

.hero p {
    font-weight: 400;
}


.services {
    padding: 120px;
    display: grid;
    gap: 64px;
}


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.top > h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.top > a {
    height: 50px;
    display: grid;
    place-content: center;
    background-color: white;
    padding-inline: 32px;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
}

.why-choose-us {
    padding: 120px;
    display: grid;
    gap: 64px;
    border-top: 1px solid #07313726;
  
}

.why-choose-us h1 {
    margin-bottom: 10px;
}

.cards, .more-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
}

.more-products {
    min-width: 100%;
}


.hide-products {
    display: none !important;
}

.card {
    display: grid;
    gap: 16px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.card .icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--primary);
    display: grid;
    place-content: center;
    color: white;
    padding: 10px;

}

.service-label {
    font-weight: 500;
    font-size: 1.25rem;
}


.products {
    padding: 80px 120px;
    display: grid;
    gap: 64px;
}

.products h1 {
    font-weight: 500;
    font-size: 1.5rem;
}

.products > a {
    display: none;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 40px;
}

.product-card {
    display: grid;
    gap: 16px;
}

.product-img {
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.product-card > h3 {
    font-weight: 500;
    font-size: 1.25rem;
}

.product-card > p {
    font-weight: 300;
}

.products > button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    justify-self: end;
}

.about {
    padding: 120px;
    display: grid;
    gap: 24px;
    background-color: #EAFAEA;
}

.about > h1 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.5rem;
}

.about > p {
}

.cta {
    padding: 120px;
    display: flex;
    gap: 100px;
    align-items: start;
    justify-content: space-between;
    background-color: var(--primary);
    color: white;

}


.cta h2 {
    font-weight: 500;
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

footer {
    padding: 80px 120px;
    background-color: var(--text);
    color: white;
    display: grid;
    gap: 50px;
}

footer > div {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 100px;
}

.footer-logo {
    display: grid;
    gap: 24px;
}

.footer-logo>img {
    width: 200px;
    object-fit: contain;
}

.footer-logo > p {
    width: 300px;
}

.sm-icons {
    display: flex;
    gap: 24px;
    align-items: center;
}

.sm-icons > a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E5E5E533;
    display: grid;
    place-content: center;
    padding: 5px;
}

.footer-items {
    display: grid;
    height: fit-content;
    gap: 20px;
}

.footer-items h4 {
    font-weight: 600;
    font-size: 1.25rem;
}

.footer-items ul {
    display: grid;
    gap: 10px;
}

footer > p {
    border-top: 1px solid #C8C8C84D;
    padding-block: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    color: #969696;
}
/* Generic */

.heading {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
    color: var(--primary);
}

.button {
    width: 200px;
    height: 50px;
    display: grid;
    place-content: center;
    background-color: white;
    border-radius: 4px;
    color: var(--text);
}


@media (max-width: 1200px) {
    .wrapper {
        padding: 50px;
    }

    nav .button {
        width: fit-content;
        font-size: 0.875rem;
        height: fit-content;
    }

    .logo {
        width: 150px;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero > div:nth-child(1) p {
        font-size: 1.2rem;
    }

    .services, .products{
        padding: 50px;
    }

    .products > button {
        justify-self: center;
    }

    .why-choose-us {
        padding: 50px 50px 100px;
    }

    .about {
        padding:100px 50px;
    }

    .cta {
        padding: 100px 50px;
        gap: 200px;
        justify-content: space-between;
    }

    .cta h2 {
        font-size: 1.5rem;
    }

    .cta a {
        text-wrap: nowrap;
        width: fit-content !important;
        padding: 10px 20px;
        height: auto;

        
    }

    footer {
        padding: 100px 50px;
    }
    .footer-logo>img {
        width: 150px;
    }
}


@media (max-width: 600px) {

    body {
        font-size: 0.875rem;
    }

    .wrapper {
        padding: 50px 16px;
    }

    .heading {
        font-size: 1.3rem !important;
    }

    nav > a {
        display: none !important;
    }

    nav > button {
        background-color: var(--primary);
        color: white;
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 8px;
    }

    .menu-btn {
        display: block;
    }

    .main-menu {
        display: none;
    }

    .hero {
        grid-template-columns: 1fr;
        gap: 50px;
        align-content: center;
    }

    .hero h1 {
        font-size: 2.5rem;
        text-wrap: nowrap;
    }

    .hero > div:nth-child(1) {
        gap: 20px;
        /* place-content: center; */
    }

    .hero > div:nth-child(1) p {
        font-size: 1rem;
    }

    .hero > div:nth-child(1) > * {
        margin: auto;
        text-align: center;
    }

    .hero > div:nth-child(2) p {
        text-align: center;
    }

    .hero > div:nth-child(2) a {
        width: 60%;
        
        background-color: white;
        color: var(--primary);
        font-weight: 600;
        height: 50px;
        display: grid;
        place-content: center;
        border-radius: 8px;
        margin: 20px auto 0;
    }

    .services, .products{
        padding: 100px 16px;
    }

    .products > button {
        display: block;
        width: 50%;
        height: 50px;
        border-radius: 8px;
        background-color: transparent;
        text-align: center;
        color: white;
        margin: auto;
        border: none;
        color: var(--primary);
        font-size: 1rem;
        font-weight: 500;
    }

    .top {
       display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 20px;
       align-items: center;
    }

    .top a {
      width: fit-content;
        justify-self: end;
        text-wrap: nowrap;
    }

    .why-choose-us {
        padding: 100px 16px;
    }

    .why-choose-us > div:nth-child(1) {
        text-align: center;
    }

    .about {
        padding: 100px 16px;
    }

    .cta {
        padding: 100px 16px;
        flex-direction: column;
        gap: 50px;
    }

    .cta a {
        width: 100%;
    }

    footer {
        padding: 100px 16px;
    }

    footer > div {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}




